{% extends 'base.html' %}
{% include 'templates/partials/_navbar.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
    <div class="col-6 mt-4 m-auto border-radius">
        <h2>Bem-vindo ao seu perfil!</h2><br><br>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: {{funcionario.id}}  -  
            <a href="{% url 'modifica_funcionario' funcionario.id %}"><button type="button" class="btn btn-outline-success">Editar</button></a> 
            </li>
            <li class="list-group-item">Nome: {{funcionario.primeiro_nome}}</li>
            <li class="list-group-item">Sobrenome: {{funcionario.sobrenome}}</li>
            <li class="list-group-item">Email: {{funcionario.email}}</li>
            <li class="list-group-item">CPF: {{funcionario.cpf}}</li><br>
        </ul>
    </div>

    {% else %}
        <h2>Faça login para acessar!</h2></br>
        <a href="{% url 'login_page' %}"><button>Entrar</button></a>
    {% endif %}

{% endblock %}